#container{
    height: 90vh;
}

mat-card{
    width: 40vw;
    height: 70vh;
    min-width: 400px;
}

mat-form-field{
    width: 90%;
}

mat-card-content{
    flex-wrap: wrap;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.half-size{
    width: 42.5%;
}

button{
    width: 35%;
    height: 50%;
    font-size: 1.5rem;
}

mat-card-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-title{
    font-size: 3rem;
    line-height: 3rem;
    color: #69F0AE;
    margin-top: 2vw;
}

.buttons{
    margin-top: 2vw;
}